

/* BIELA */


.biela-frente,
.biela-lado,
.biela-muñon{
    position: relative;
}

.biela-frente .ingreso,
.biela-lado .ingreso,
.biela-muñon .ingreso{
    position: absolute;
}

.biela-frente .grupo,
.biela-lado .grupo,
.biela-muñon .grupo{
    fill: #fff;    
}


.biela-frente label,
.biela-lado label,
.biela-muñon label{
    background-color: #fff;
    color:var(--azul-estandar);
    display: inline-flex;
    height: 1.5em;
    width: 1.5em;
    justify-content: center;
    align-items: center; 
    border-radius: 50% 0 0 50%;
    font-weight: bold;
    cursor: pointer;
}

/* biela frente */

.biela-frente{
    position: relative;
}

.biela-frente .ingresoA{
    left: 10%;
    top: -9%;
}

.biela-frente .ingresoB{
    left: 70%;
    top: -9%;
}

.biela-frente .ingresoC{
    left: 42%;
    top: 98%;
}

.biela-frente .cuerpo-biela{
    fill: #fff;
}

.biela-frente .grupoA{
    fill: var(--medida-A);
}

.biela-frente .grupoB{
    fill: var(--medida-B);
}

.biela-frente .grupoC{
    fill: var(--medida-C);
}

/* biela lado */
.biela-lado{
    margin: 5em 0;
}

.biela-lado .cuerpo-biela{
    fill: #fff;
}

.biela-lado .ingresoD{
    top: -15%;
    left: 42.5%;
}

.biela-lado .ingresoE{
    top: 80%;
    left:-3%;
}

.biela-lado .ingresoF{
    top: 80%;
   left: 85%;
}

.biela-lado .ingresoG{
    left: 46%;
    top: 90%;
}

.biela-lado .grupoD{
    fill: var(--medida-D);
}

.biela-lado .grupoE{
    fill: var(--medida-E);
}

.biela-lado .grupoF{
    fill: var(--medida-F);
}

.biela-lado .grupoG{
    fill: var(--medida-G);
}

/* muñon */
.biela-muñon svg{
    transform: rotate(0.5turn);
}

.biela-muñon .muñon-cuerpo{
 fill: #fff;
}

.biela-muñon .ingresoH{
    top: 100%;
    left: 15%;
}

.biela-muñon .ingresoI{
    top: 100%;
    right: 2%;
}

/* posicion biela*/

.imagen-biela{
    display: flex;
    justify-content:  space-around;
    align-items: center;
    flex-wrap: wrap;
}

.biela-frente{
    width: 30em;
}

.biela-lado{
    width: 32.5em;
    position: relative;
}

.biela-muñon{
    width: 15em;
}




/* TABLA */
.table{
    width: 100%;
    border-collapse: collapse;

}

.table td, .table th{
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.table th{
    background-color: darkblue;
    color: #fff;
}

.table tbody tr:nth-child(even){
    background-color: #f3f3f3;
}




@media (max-width: 650px){
    /* BIELA */
    


    /* TABLA */
    .table thead{
        display: none;
    }

    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }

    .table tr{
        margin-bottom: 1em;     
    }

    .table td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;

    }
}