

/* BIELA */



.biela-frente,
.biela-lado,
.biela-muñon{
    position: relative;
}

.biela-frente .ingreso,
.biela-lado .ingreso,
.biela-muñon .ingreso{
    position: absolute;
}

.biela-frente .grupo,
.biela-lado .grupo,
.biela-muñon .grupo{
    fill: #fff;    
}




/* biela frente */

.biela-frente{
    position: relative;
}

.biela-frente .ingresoA{
    left: 10%;
    top: -9%;
}

.biela-frente .ingresoB{
    left: 70%;
    top: -9%;
}

.biela-frente .ingresoC{
    left: 42%;
    top: 98%;
}

.biela-frente .cuerpo-biela{
    fill: #fff;
}

.biela-frente .grupoA{
    fill: var(--clr-medida-A2);
}

.biela-frente .grupoB{
    fill: var(--clr-medida-B2);
}

.biela-frente .grupoC{
    fill: var(--clr-medida-C2);
}

/* biela lado */
.biela-lado{
    margin: 5em 0;
}

.biela-lado .cuerpo-biela{
    fill: #fff;
}

.biela-lado .ingresoD{
    top: -15%;
    left: 42.5%;
}

.biela-lado .ingresoE{
    top: 45%;
    left:-13%;
}

.biela-lado .ingresoF{
    top: 45%;
   left: 100%;
}

.biela-lado .ingresoG{
    left: 46%;
    top: 90%;
}

.biela-lado .grupoD{
    fill: var(--clr-medida-D2);
}

.biela-lado .grupoE{
    fill: var(--clr-medida-E2);
}

.biela-lado .grupoF{
    fill: var(--clr-medida-F2);
}

.biela-lado .grupoG{
    fill: var(--clr-medida-G2);
}

/* muñon */
.biela-muñon svg{
    transform: rotate(0.5turn);
}

.biela-muñon .muñon-cuerpo{
 fill: #fff;
}

.biela-muñon .ingresoH{
    top: 100%;
    left: 15%;
}

.biela-muñon .ingresoI{
    top: 100%;
    right: 2%;
}

.biela-muñon .grupoH{
    fill: var(--clr-medida-H2);
}

.biela-muñon .grupoI{
    fill: var(--clr-medida-I2);
}

/* posicion biela*/

.imagen-biela{
    display: flex;
    justify-content:  space-around;
    align-items: center;
    flex-wrap: wrap;
}

.biela-frente{
    width: 30em;
}

.biela-lado{
    width: 32.5em;
    position: relative;
}

.biela-muñon{
    width: 15em;
}

