.imagen-corona{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10em;
}

.corona-lado{
    top: 0.2em;
    position: relative;
    width: 20.7em;
}

.corona-frente{
    position: relative;
    width: 27em;
}

.corona-lado .ingresoA{
    top: 45%;
    left: -20%;
}

.corona-lado .ingresoB{
    top: 45%;
    left: 98%;
}

.corona-frente .ingresoC{
    top: 45%;
    left: 40%;
}

.corona-frente .ingresoD{
    top: 10%;
}

@media (max-width: 900px) {
    .imagen-corona{
        gap: 5em;
    }

    .corona-lado .ingresoA{
        top: 80%;
        left: 15%;
    }

    .corona-lado .ingresoB{
        top: 75%;
        left: 65%;
    }

    .corona-frente .ingresoC{
        left: 36.5%;
    }

    /* .corona-lado .ingresoA,
    .corona-lado .ingresoB{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .corona-lado .ingresoA label,
    .corona-lado .ingresoB label{
        transform: translateX(0em);
        margin-left: 0;
    } */
}