.imagen-disco-freno{
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
}

.disco-freno{
    position: relative;
}
.disco-freno svg{
    width: 50em;
}

.disco-freno .ingresoA{
    top: 45%;
    left: -7%;
}

.disco-freno .ingresoB{
    top: 47%;
    left: 23%;
}

.disco-freno .ingresoC{
    top: 45%;
    left: 58%;
}

.disco-freno .ingresoD{
    top: 45%;
    left: 96%;
}

.disco-freno .ingresoE{
    left: 10%;
}

@media (max-width:900px) {
    .disco-freno{
        transform: rotate(90deg);
        margin: 10em 0 ;
    }

    .disco-freno .ingreso{
        transform: rotate(-90deg);
    }

    .disco-freno .ingresoA{
        top: 48%;
        left: -5%;
    }
    
    .disco-freno .ingresoB{
        top: 48%;
        left: 20%;
    }
    
    .disco-freno .ingresoC{
        top: 45%;
        left: 58.5%;
    }
    
    .disco-freno .ingresoD{
        top: 48%;
        left: 93%;
    }
    
    .disco-freno .ingresoE{
        bottom: -10%;
        left: 11%;
    }
}

@media (max-width:525px){
    .imagen-producto{
        margin-top: 0;
        margin-bottom: 2em;
    }
    .disco-freno svg{
        width: 30em;
    }

    .disco-freno .ingresoA{
        top: 45.5%;
        left: -9%;
    }
    
    .disco-freno .ingresoB{
        top: 45.5%;
        left: 18%;
    }
    
    .disco-freno .ingresoC{
        top: 42%;
        left: 55%;
    }
    
    .disco-freno .ingresoD{
        top: 45.5%;
        left: 92%;
    }
    
    .disco-freno .ingresoE{
        bottom: -15%;
        left: 10%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .disco-freno .ingresoE label{
        transform: translateX(0em);
        margin-left: 0;
    }
}