@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --azul-oscuro: #04334e;
    --azul-estandar: #064d75;
    --azul-claro: #063d5e;
    --medida-A: #FF0000;
    --medida-B: #ff8700;
    --medida-C: #ffd300;
    --medida-D: #deff0a;
    --medida-E: #a1ff0a;
    --medida-F: #0AFF99;
    --medida-G: #0AEFFF;
    --medida-H: #147DF5;
    --medida-I: #753bf2;
    --medida-J: #f841a6;
    --medida-K: #ff0aeb;
}


body {
  font-family: "Montserrat";
  background-color: var(--azul-estandar);
}

a {
  text-decoration: none;
}

/* INICIO HEADER / MENU */

header{
    display: block;
    width: 100%;
    z-index: 1000;
}

.nav-bar {
  background-color: var(--azul-estandar);
  display: block;
  color: #fff;
  padding: 1em;
  cursor: pointer;
  width: 100%;
  padding: 1em;
  position: relative;
  z-index: 1000;
}


.menu, .submenu{
    list-style: none;
    z-index: 1000;
}

.menu{
    background-color: var(--azul-claro);
    width: 100%;
    margin-left: -100%;
    transition: all ease 0.3s;
    position: absolute;
}

.menu .menu__item:hover{
    background-color: var(--azul-estandar);
}

.menu__link{
    display: block;
    padding:1em;
    color: #fff;
}

.submenu{
    height: 0;
    overflow: hidden;
    transition: all ease 0.3s;
}

.submenu .menu__link{
    background-color: var(--azul-oscuro);
    padding-left: 2em;
}

.submenu .menu__link:hover{
    background-color: var(--azul-estandar);
}

.mostrar{
    margin-left: 0;
}

/* INICIO MAIN */
/* titulo */

.main-index{
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
}

.titulo{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    margin-top: 3em;
}

.titulo .linea{
    height: 0.1em;
    width: 8em;
    background-color: #fff;
    margin: 0.5em 0;
}

.triangulos{
    margin: 0.5em 0;
}

.st0, .st1, .st2{
    fill: #fff;
}

.st1, .st2{
    opacity: 0.50;
}

/* repuestos */
.repuestos{
    text-align: center;    
    font-size: 2em;
    font-weight: 900;
    color: var(--azul-estandar);    
}

.repuesto{
    border-radius: 0.3em;
    margin: 0.4em;
    background-color: #fff;
    padding: 1em;    
    cursor: pointer;
    position: relative;
    z-index: 3;
    display: block;
    color: var(--azul-estandar);   
}

.repuesto:hover{
    color: white;
}

.repuesto:before{
    transition:  0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: var(--azul-estandar);
    border-radius: 0.3em;
}

.repuesto:hover::before{
    transition:  0.5s all ease;
    left: 5px;
    right: 5px;
    opacity: 1;
    z-index:-1;
}


@media (min-width:1024px){
header{
    position: relative;
}

.nav-bar{
    display: none;
}

.menu{
    margin-left: 0;
    display: flex;
    position: relative;
}
.container-submenu{
    position: relative;
}
.submenu{
    position: absolute;
    top: 100%;
    width: 200px;
    overflow: visible;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
}

.submenu .menu__item{
    padding-left: 0;
}

.container-submenu:hover .submenu{
    opacity: 1;
    visibility: visible;
}

.submenu .menu__item:hover{
    background-color: var(--azul-claro);
}

}