@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background-color: #064d75;
}

a {
  text-decoration: none;
}

/* INICIO HEADER / MENU */

header{
    display: block;
    width: 100vw;
}

.nav-bar {
  background-color: #064d75;
  display: block;
  color: #fff;
  padding: 1em;
  cursor: pointer;
  width: 100%;
  padding: 1em;
  position: relative;
}


.menu, .submenu{
    list-style: none;
}

.menu{
    background-color: #063d5e;
    width: 100%;
    margin-left: -100%;
    transition: all ease 0.3s;
    position: absolute;
}

.menu .menu__item:hover{
    background-color: #064d75;
}

.menu__link{
    display: block;
    padding:1em;
    color: #fff;
}

.submenu{
    height: 0;
    overflow: hidden;
    transition: all ease 0.3s;
}

.submenu .menu__link{
    background-color: #04334e;
    padding-left: 2em;
}

.submenu .menu__link:hover{
    background-color: #064d75;
}

.mostrar{
    margin-left: 0;
}

/* INICIO MAIN */
/* titulo */

main{
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    height: 100vh;
}

.titulo{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    margin-top: 3em;
}

.titulo .linea{
    height: 0.1em;
    width: 8em;
    background-color: #fff;
    margin: 0.5em 0;
}

.triangulos{
    margin: 0.5em 0;
}

.st0, .st1, .st2{
    fill: #fff;
}

.st1, .st2{
    opacity: 0.50;
}

/* repuestos */
.repuestos{
    text-align: center;    
    font-size: 2em;
    font-weight: 900;
    color: #064d75;    
}

.repuesto{
    border-radius: 0.3em;
    margin: 0.4em;
    background-color: #fff;
    padding: 1em;    
    cursor: pointer;
}

@media (min-width:1024px){
header{
    position: relative;
}

.nav-bar{
    display: none;
}

.menu{
    margin-left: 0;
    display: flex;
}
.container-submenu{
    position: relative;
}
.submenu{
    position: absolute;
    top: 100%;
    width: 200px;
    overflow: visible;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
}

.submenu .menu__item{
    padding-left: 0;
}

.container-submenu:hover .submenu{
    opacity: 1;
    visibility: visible;
}

.submenu .menu__item:hover{
    background-color: #063d5e;
}

}