
.imagen-producto {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}


.pinion-frente{
    height: 30em;
    aspect-ratio: 1;
    position: relative;
}

.pinion-frente .ingresoA{
    top: 36%;
    left: -12%;
}

.pinion-frente .ingresoB{
    top: 26%;
    left: 97%;
}

.pinion-frente .ingresoC{
    top: 90%;
    left: 42%;
}

.pinion-lado .ingresoD{
    left: 5%;
}

.pinion-lado{
    position: relative;
    height: 30em;    
    aspect-ratio: 0.193;
    top: -0.400em;
}


@media (max-width:1300px) {
    .imagen-producto {
        grid-template-columns: 60% auto;
    }

}


@media (max-width:1000px) {
    .imagen-producto {
        grid-template-columns: 100%;
    }

    .pinion-frente .ingresoA{
        top:55%;
        left:1%;
    }

    .pinion-frente .ingresoB{
        top: 33%;
        left: 88%;
    }

}

@media (max-width:815px){
    .imagen-producto{
        grid-template-rows: min-content min-content;
    }

    .pinion-frente{
        width: 90%;
        height: 100%;
    }

    .pinion-lado{
        width: 20%;
        height: 100%;
    }

    .pinion-frente .ingresoA{
        top: 53%;
    }

    .pinion-frente .ingresoB{
        top: 33%;
        left: 85%;
    }

    .pinion-frente .ingresoC{
        top: 90%;      
    }
    
}


@media (max-width:400px){
    .pinion-frente .ingresoA,
    .pinion-frente .ingresoB{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pinion-frente .ingresoA label,
    .pinion-frente .ingresoB label{
        transform: translateX(0em);
        margin-left: 0;
    }

    .pinion-frente .ingresoA{
        left: -6%;
    }


    .pinion-frente .ingresoB{
        top: 33%;
        left: 80%;
    }

    .pinion-frente .ingresoC{
        top: 90%;  
        left: 38%;    
    }

    .pinion-lado .ingresoD{
        left: -4%
    }
}

