/* TABLA */
.tabla-resultados h5{
    color: #a5a5a5;
    margin-bottom: 0.5em;
}

.table{
    width: 100%;
    border-collapse: collapse;
}



.table td, .table th{
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.table th.marca,
.table th.codigo,
.table th.web{
    background-color: var(--azul-claro);
    color: #fff;
}

.table th.A{
    background-color: var(--clr-medida-A2);
    color: #fff;
}

.table th.B{
    background-color: var(--clr-medida-B2);
    color: #fff;
}

.table th.C{
    background-color: var(--clr-medida-C2);
    color: #fff;
}

.table th.D{
    background-color: var(--clr-medida-D2);
    color: #fff;
}

.table th.E{
    background-color: var(--clr-medida-E2);
    color: #fff;
}

.table th.F{
    background-color: var(--clr-medida-F2);
    color: #fff;
}

.table th.G{
    background-color: var(--clr-medida-G2);
    color: #fff;
}

.table th.H{
    background-color: var(--clr-medida-H2);
    color: #fff;
}

.table th.I{
    background-color: var(--clr-medida-I2);
    color: #fff;
}

.table th.J{
    background-color: var(--clr-medida-J2);
    color: #fff;
}

.table th.K{
    background-color: var(--clr-medida-K2);
    color: #fff;
}

.table tbody tr:nth-child(even){
    background-color: #9a9a9a;
}

.table tbody tr:nth-child(odd){
    background-color: #c5c3c3;
}

.resaltar{
    filter:brightness(1.8);
    transform: all ease 3s;
}



@media (max-width: 725px){
    /* TABLA */
    .table thead{
        display: none;
    }

    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }

    .table tr{
        margin-bottom: 1em;     
    }

    .table td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        padding-left: 1em;
        font-weight: bold;
    }

    .table tbody td:nth-child(even){
        background-color: #9a9a9a;
    }
    
    .table tbody td:nth-child(odd){
        background-color: #c5c3c3;
    }
}

/* INPUT TABLE */


th{
    position: relative;
}

th > label{
    position: absolute; 
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    display: block;
    cursor: pointer;
    padding: 15% 40%;
}


th input{
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0;
    outline: none;
    opacity: 0;
    cursor: pointer;
    text-align: center;
   }

   th.para-resaltar{
       padding: 0.5em;
   }

th.para-resaltar:hover label{
display: none;
}

th.para-resaltar:hover input{
    opacity:100%;
}




